@font-face {
    font-family: 'Cresci';
    src: url("CresciLP.1266ed74.otf") format('opentype');
  }
  @font-face {
    font-family: 'Givonic-SemiBold';
    src: url("Givonic-SemiBold.ttf") format('truetype');
  }
  @font-face {
    font-family: 'Givonic-light';
    src: url("Givonic-Light.ttf") format('truetype');
  }
.subhead{
    margin-left: 0px;
    position: relative;
    width: 100px;
    font-size: 14px;
    color: #B1B1B1;
}
h1{
    font-family: 'Cresci LP';
    font-size: 40px;
}
p{
    font-size: 16px;
    font-family: "Ginovic-Light";
    line-height: 20px;
}
.container {
    text-align: center;
  }
  
.container img {
    display: inline-block;
    max-width: 100%;
}
h2{
    font-family: 'Cresci LP';
    font-size: 28px;
}
.image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}