/* Buttons and its hover effect */

    /* buttons - center aligns button */
.buttons-layout {
    grid-column-start: 4;
    grid-column-end: 6;
    margin-top: 20px;
  }

    /* white button*/
.white-button {
    display: block;
    padding: 12px 28px 12px 28px;
    margin: auto;
    background-color: white;
    font-family: "givonic-light";
    font-size: 24px;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

.white-button:hover{
    transform: scale(0.95);
}

.white-button:not(:hover){
    transform: scale(1);
}

    /* blue button*/
.blue-button {
    display: block;
    padding: 12px 28px 12px 28px;
    margin: auto;
    margin-bottom: 0;
    background-color: #000DFF;
    font-family: "givonic-light";
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

.blue-button:hover{
    transform: scale(0.95);
}

.blue-button:not(:hover){
    transform: scale(1);
}

    /* specific for landing-reserve button */
.reserve-button {
    width: 100%;
    height: auto;
    max-width: 194px;
    display: block;
    margin: 0 auto;
}


/* General buttons */
.button-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
