.section-1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  
  .price-1{
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  
  .section-2 {
    grid-column-start: 5;
    grid-column-end: 8;
  }
  
  .price-2{
    text-align: center;
    grid-column-start: 8;
    grid-column-end: 9;
  }

  /* Drinks spacings */
#drinks-header {
  padding: 0;
  margin-bottom: 12px;
}

#in-page-nav {
  padding-top: 20px;
  padding-bottom: 44px;
}

#sparkling {
  padding-top: 40px;
  padding-bottom: 60px;
}

#white {
  padding-bottom: 60px;
}

#cocktails {
  padding-bottom: 60px;
}

#soft {
  padding-bottom: 80px;
}

