/* CSS file for all font-related stylisation for ANASON */

/* Cresci Fonts Related type */
@font-face {
    font-family: 'cresci';
    src: url("fonts/cresci.otf") format('opentype');
  }
  
h1 {
    text-decoration: none;
    font-style: normal;
    color: black;
    font-family: 'cresci', 'Times New Roman', serif;
    font-size: 40px;
  }
  
h2 {
    text-decoration: none;
    font-style: normal;
    color: black;
    font-family: 'cresci', 'Times New Roman', serif;
    font-size: 28px;
  }
  
h3 {
    text-decoration: none;
    font-style: normal;
    color: black;
    font-family: 'cresci', 'Times New Roman', serif;
    font-size: 20px;
  }

.nav-pages {
    text-decoration: none;
    font-style: normal;
    color: black;
    font-family: 'cresci', 'Times New Roman', serif;
    font-size: 23px;
}
  
.nav-pages {
    text-decoration: none;
}


/* Givonic-SemiBold Fonts Related type */
@font-face {
    font-family: 'givonic-semibold';
    src: url("fonts/givonic-semibold.ttf") format('truetype');
  }
  
.subhead {
    text-decoration: none;
    font-style: normal;
    color: #B1B1B1;
    font-family: "givonic-semibold", Arial, sans-serif;
    font-size: 14px;
}
.food-name {
    text-decoration: none;
    font-style: normal;
    color: black;
    font-family: "givonic-semibold", Arial, sans-serif;
    font-size: 20px;
  }
  
.footer-gtu-name{
    text-decoration: none;
    font-style: normal;
    color:  white;
    font-family: "givonic-semibold", Arial, sans-serif;
    font-size: 14px;
}

.drink-item dt{
  text-decoration: none;
  font-style: normal;
  color: black;
  font-family: "givonic-semibold", Arial, sans-serif;
  font-size: 20px;
}

.drink-item dd{
  text-decoration: none;
  font-style: normal;
  color: black;
  font-family: "givonic-semibold", Arial, sans-serif;
  font-size: 20px;
}


  /* Givonic-Light Fonts Related type */
  @font-face {
    font-family: 'givonic-light';
    src: url("fonts/givonic-light.ttf") format('truetype');
  }

p {
    text-decoration: none;
    font-style: normal;
    color: black;
    font-family: "givonic-light", Arial, sans-serif;
    font-size: 16px;
    line-height: 20%;
    text-align: center;
}

.food-description {
    text-decoration: none;
    font-style: normal;
    color: black;
    font-family: "givonic-light", Arial, sans-serif;
    font-size: 16px;
}

.footer-gtu-description{
    text-decoration: none;
    font-style: normal;
    color: white;
    font-family: "givonic-light", Arial, sans-serif;
    font-size: 14px;
}

.drink-item dd.description {
  text-decoration: none;
  font-style: normal;
  color: black;
  font-family: "givonic-light", Arial, sans-serif;
  font-size: 16px;
}

/* Bodoni Fonts Related type */
@font-face {
  font-family: 'bodoni';
  src: url("fonts/bodoni.ttf") format('truetype');
}

.drink-item dd.location {
  text-decoration: none;
  font-style: italic;
  color: black;
  font-family: 'bodoni';
  font-size: 20px;
}

/* others */

a.figure-link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#footer {
  text-decoration: none;
  font-style: normal;
  color: white;
}

/* Overwriting existing font-colours for specific background colours */

.dark-bg h2,
.dark-bg .food-name,
.dark-bg .food-description {
  color: white;
}