/* CSS file for all font-related stylisation for ANASON */

/* Cresci Fonts Related type */
@font-face {
    font-family: 'cresci';
    src: url("fonts/cresci.otf") format('opentype');
  }
  
h1,
#page-header {
    text-decoration: none;
    font-style: normal;
    color: black;
    font-family: 'cresci', 'Times New Roman', serif;
    font-size: 40px;
    font-kerning: -20px;
  }
  
h2 {
    text-decoration: none;
    font-style: normal;
    color: black;
    font-family: 'cresci', 'Times New Roman', serif;
    font-size: 28px;
    font-kerning: -20px;
  }
  
h3,
.nav-pages {
    text-decoration: none;
    font-style: normal;
    color: black;
    font-family: 'cresci', 'Times New Roman', serif;
    font-size: 20px;
    font-kerning: -20px;
  }

.footer-header {
  text-decoration: none;
  font-style: normal;
  color: white;
  font-family: 'cresci', 'Times New Roman', serif;
  font-size: 20px;
  font-kerning: -20px;
}


/* Givonic-SemiBold Fonts Related type */
@font-face {
    font-family: 'givonic-semibold';
    src: url("fonts/givonic-semibold.ttf") format('truetype');
  }

.food-name,
.drink-item dt,
.drink-price,
.nutri-name {
    text-decoration: none;
    font-style: normal;
    color: black;
    font-family: "givonic-semibold", Arial, sans-serif;
    font-size: 20px;
    font-kerning: -20px;
}
  
.subhead {
    text-decoration: none;
    font-style: normal;
    color: #B1B1B1;
    font-family: "givonic-semibold", Arial, sans-serif;
    font-size: 14px;
    font-kerning: -20px;
}

.footer-gtu-name{
    text-decoration: none;
    font-style: normal;
    color:  white;
    font-family: "givonic-semibold", Arial, sans-serif;
    font-size: 14px;
    font-kerning: -20px;
}



  /* Givonic-Light Fonts Related type */
  @font-face {
    font-family: 'givonic-light';
    src: url("fonts/givonic-light.ttf") format('truetype');
  }

p,
.page-description,
.food-description,
#four-grid-text,
.drink-item dd,
.nutri-description {
    text-decoration: none;
    font-style: normal;
    color: black;
    font-family: "givonic-light", Arial, sans-serif;
    font-size: 16px;
    font-kerning: -20px;
    line-height: 120%;
}


.footer-gtu-description{
    text-decoration: none;
    font-style: normal;
    color: white;
    font-family: "givonic-light", Arial, sans-serif;
    font-size: 14px;
    font-kerning: -20px;
}


/* Bodoni Fonts Related type */
@font-face {
  font-family: 'bodoni';
  src: url("fonts/bodoni.ttf") format('truetype');
}

.drink-item dd.location {
  text-decoration: none;
  font-style: italic;
  color: black;
  font-family: 'bodoni';
  font-size: 20px;
}

/* others */

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#footer {
  text-decoration: none;
  font-style: normal;
  color: white;
}

.footer-copyright {
    text-decoration: none;
    font-style: normal;
    color: white;
    font-family: "givonic-light", Arial, sans-serif;
    font-size: 16px;
    font-kerning: -20px;
}

.in-page-menu {
  text-decoration: none;
  font-style: normal;
  color: black;
  font-family: 'cresci', 'Times New Roman', serif;
  font-size: 23px;
  font-kerning: -20px;
}



/* Overwriting existing font-colours for specific background colours */

.dark-bg h2,
.dark-bg .food-name,
.dark-bg .food-description,
.dark-bg #landing-header{
  color: white;
}

