/* food page*/
.filter {
    grid-column-start: 8;
    grid-column-end: 9;
    
  }

.food-top{
    width: 100vw;
    height: 50vh;
    position: relative;
} 

.food-head-image{
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    object-position: center;
}

/* Hovered effect on item-grids */
#item-grid-1:hover {
    transform: scale(0.98);
}

#item-grid-1:not(hover) {
    transform: scale(1);
}

#item-grid-2:hover {
    transform: scale(0.98);
}

#item-grid-2:not(hover) {
    transform: scale(1);
}

#item-grid-3:hover {
    transform: scale(0.98);
}

#item-grid-3:not(hover) {
    transform: scale(1);
}

#item-grid-4:hover {
    transform: scale(0.98);
}

#item-grid-4:not(hover) {
    transform: scale(1);
}


/* spacings */
#food-header {
    margin: 0;
    padding: 0;
}

.food-h2 {
    padding: 0;
    margin-bottom: 20px;
}

#specials {
    padding-bottom: 60px;
}

#entree {
    padding-bottom: 60px;
}

#sides {
    padding-bottom: 60px;
}

#mains {
    padding-bottom: 60px;
}

#dessert {
    padding-bottom: 80px;
}
