/*food page landing image*/
.food-top{
    width: 100vw;
    height: 50vh;
    position: relative;
} 

.food-head-image{
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    object-position: center;
}


/* filter */
.filter-container{
    position: relative;
}

.filter-button{
    width: 52px;
    height: 19px;
    grid-column-start: 8;
    grid-column-end: 9;
    cursor: pointer;
    justify-self: right;
    align-self: right;
}

.filter-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    padding: 8px;
    border: 1px solid #ccc;
    z-index: 1;
}

.filter-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

.filter-menu li {
    padding: 4px 0;
  }

.filter-menu a {
    color: #333;
    text-decoration: none;
  }


/* spacings */
#food-header {
    margin: 0;
    padding: 0;
}

.food-h2 {
    padding: 0;
    margin-bottom: 20px;
}

#specials {
    padding-top: 40px;
    padding-bottom: 60px;
}

#entree {
    padding-bottom: 60px;
}

#sides {
    padding-bottom: 60px;
}

#mains {
    padding-bottom: 60px;
}

#dessert {
    padding-bottom: 80px;
}

/***********************************************************************************************/