.about-page-full-image {
    width: 1222px;
    height: 602px; 
}

.about-page-square-image {
    width: 602px;
    height: 602px; 
}

.social-media-image {
    width: 293px;
    height: 293px; 
}

.food-image {
    width: 293px;
    height: 293px; 
}

.specials-header {
    width: 1222px;
    height: 537px; 
}

.landing-head-image{
    width: 1920px;
    height: 1080px;  
}

.map{
    width: 1222px;
    height: 483px;  
}

.product-image {
    width: 603px;
    height: 603px;  
}