.about-page-full-image {
    width: 1222px;
    height: 602px; 
}

.about-page-square-image {
    width: 602px;
    height: 602px; 
}

.social-media-image {
    width: 293px;
    height: 293px; 
}

.food-image {
    width: 293px;
    height: 293px; 
}

.product-image {
    width: 603px;
    height: 603px;  
}

#food-header {
    width: 100vw;
    object-fit: cover;
    object-position: center;
}