.social-media-image {
    width: 293px;
    height: 293px; 
}

.food-image {
    width: 293px;
    height: 293px; 
}

.product-image {
    width: 603px;
    height: 603px;  
}

#food-header {
    width: 100vw;
    object-fit: cover;
    object-position: center;
}