/* Head Image */

#landing-top {
    margin: 0;
    padding: 0;
    scroll-snap-align: none; 
}

.landing-head-container{
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.landing-head-image{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    margin: 0;
    padding: 0;
}

.landing-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; 
  z-index: 1;
  text-shadow: black 1px 0 10px;
  margin: 0;
  padding: 0;
}

.landing-reserve {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
}


/* Dynamic Logo */

.dynamic-logo-container {
  display: flex;
  justify-content: center;
}

.specials-header {
    width: 1222px;
    height: 537px; 
}


/* section colour */

#landing-specials {
  background-color: #274C80;
}

#landing-socialmedia {
  background-color: #274C80;
} 


/* typography */
#four-grid-text {
  grid-column-start: 3;
  grid-column-end: 7;
  text-align: center;
}


/* Landing spacings */
.dynamic-logo {
    margin-top: 60px;
    margin-bottom: 12px;
}

#landing-header {
    margin-bottom: 12px;
    padding: 0;
    text-align: center;
}

#landing-specials {
    padding-bottom: 40px;
  }

#landing-philosophy {
    padding-top: 40px;
    padding-bottom: 40px;
}

#landing-recommendations {
    padding-top: 40px;
    padding-bottom: 40px;
}

#landing-socialmedia {
    padding-top: 40px;
    padding-bottom: 40px;
}

.social-media-image {
    margin-bottom: 40px;
}

#landing-map {
    padding-top: 40px;
    padding-bottom: 80px;
}

.map {
    margin: 0px;
    padding: 0px;
}