/* Head Image */

#landing-top {
    margin: 0;
    padding: 0;
    scroll-snap-align: none; 
}

.landing-head-container{
  position: relative;
  margin: 0;
  padding: 0;
  height:  100vh;
  overflow: hidden;
}

.landing-head-image{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    margin: 0;
    padding: 0;
}

.landing-text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; 
  z-index: 1;
  text-shadow: black 1px 0 10px;
  margin: 0;
  padding: 0;
}

.landing-reserve {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
}


/* specials section */
.dynamic-logo {
  width: 100%;
  height: auto;
  max-width: 147px;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 12px;
}

.dynamic-logo-container {
  display: flex;
  justify-content: center;
}

.specials-head-container{
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.specials-header {
  width: 1222px;
  height: 100%;
  object-fit: cover;
}

#landing-specials {
  background-color: #274C80;
}

#landing-specials {
  padding-bottom: 40px;
}


/* philosophy */
#four-grid-text {
  grid-column-start: 3;
  grid-column-end: 7;
  text-align: center;
}

#landing-philosophy {
  padding-top: 40px;
  padding-bottom: 20px;
}

/* recommendation */
#landing-recommendations {
  padding-top: 40px;
  padding-bottom: 40px;
}


/* social media */
#landing-socialmedia {
  background-color: #274C80;
} 

#landing-socialmedia {
  padding-top: 40px;
  padding-bottom: 40px;
}

.social-media-image {
  margin-bottom: 40px;
}


/* locate us */
#landing-map {
  padding-top: 40px;
  padding-bottom: 80px;
}

.map {
  width: 1222px;
  height: 37.7vh;
  border: 0;
  margin: 0px;
  padding: 0px;
  grid-column-start: 1;
  grid-column-end: 9;
}


/* generic */
#landing-header {
    margin-bottom: 12px;
    text-align: center;
}



