
/* To remove spacing between sections*/
html, header, body, footer, div, nav, ul, li, section, 
figure, figcaption, img, h1, h2, h3, h4, p, a, table, 
th, tr, td, dl, dt, dd, form, input, button, textarea,
select, label, fieldset, legend, blockquote, cite {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  outline: 0;
}

.grid-system{
  max-width:1222px;
  margin: 0 auto;
  padding: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 138px);
  gap: 16px;
}


/* 8 Grid System (mostly for contents) */

.grid-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 350px;
  margin-right: 350px;
}

.grid-item {
  width: calc((100% - 700px) / 8); 
  margin-left: 16px;
  margin-right: 16px;
  background-color: lightblue;
  height: vh;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#large-item {
  grid-column-start: 1;
  grid-column-end: 9;
}

#two-images-1{
  grid-column-start: 1;
  grid-column-end: 5;
}
#two-images-2{
  grid-column-start: 5;
  grid-column-end: 9;
}

#whole-width-image {
  grid-column-start: 1;
  grid-column-end: 9;
}

#page-header {
  grid-column-start: 1;
  grid-column-end: 9;
  text-align: left;
}

#four-grid-text {
  grid-column-start: 3;
  grid-column-end: 7;
  text-align: center;
}


/* Item Grids - 2 columns per item */

#item-grid-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

#item-grid-2 {
  grid-column-start: 3;
  grid-column-end: 5;
}

#item-grid-3 {
  grid-column-start: 5;
  grid-column-end: 7;
}

#item-grid-4 {
  grid-column-start: 7;
  grid-column-end: 9;
}

.footer-copyright {
  margin: 0;
}


/* Navigation Bar*/

.navbar-main {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 24px;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.navbar ul.navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navlist > li > a {
  display: block;
  color: white;
  padding: 0;
  margin-right: 30px;
}

.navlist {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin-left: 40px;
}

.nav-pages {
  padding-right: 20px;
}

.nav-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-search {
  margin-right: 40px;
}

/* in-page-menu*/

#in-page-nav {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 0;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 9;
}

#in-page-nav > li > a {
  display: block;
  color: white;
  padding: 0;
  margin-right: 60px;
}

#in-page-nav > ul {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  list-style-type: none;
}

.in-page-menu {
  margin-right: 20px;
}


/* drinks page */

.section-1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.price-1{
  grid-column-start: 3;
  grid-column-end: 4;
}

.section-2 {
  grid-column-start: 5;
  grid-column-end: 8;
}

.price-2{
  grid-column-start: 8;
  grid-column-end: 9;
}

/* food page*/
.filter {
  grid-column-start: 8;
  grid-column-end: 9;
  float: right;
}


/*search page*/

#specialsearch{
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
}
#specialsearch {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  color: black;
  font-family: 'cresci', 'Times New Roman', serif;
  font-size: 40px;
}

.search {
  width: 300px;
  height: 40px;
  padding: 0px;
  /*border: 2px solid #333;*/
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  margin-left: 10px;
}

.search:focus {
  border-color: dodgerblue;
}


/* Section Colours */

#footer{
  background-color:#274C80;
}


/* Footer */

#footer-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

#footer-2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

#footer-3 {
  grid-column-start: 4;
  grid-column-end: 6;
}

#footer-4 {
  grid-column-start: 6;
  grid-column-end: 7;
}

#footer-5 {
  grid-column-start: 7;
  grid-column-end: 9;
}


/* Text Layouts */
h2 {
  grid-column-start: 1;
  grid-column-end: 9;
}

.whole-width-text {
  grid-column-start: 1;
  grid-column-end: 9;
}

.page-intro {
  grid-column-start: 1;
  grid-column-end: 5;
}


/* Colors of sections just for referencing purpose*/

body {
  background-color: lightblue;
}
