
/* To remove spacing between sections*/
html, header, body, footer, div, nav, ul, li, section, 
figure, figcaption, img, h1, h2, h3, h4, p, a, table, 
th, tr, td, dl, dt, dd, form, input, button, textarea,
select, label, fieldset, legend, blockquote, cite {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  outline: 0;
}

.grid-system{
  max-width:1222px;
  margin: 0 auto;
  padding: 0 auto;
  height: auto;
  display: grid;
  
  grid-template-columns: repeat(8, 138px);
  gap: 16px;
}

body{
  padding-top: 80px;
  scroll-snap-type: y mandatory;
}

/* 8 Grid System (mostly for contents) */

.grid-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 350px;
  margin-right: 350px;
}

.grid-item {
  width: calc((100% - 700px) / 8); 
  margin-left: 16px;
  margin-right: 16px;
  background-color: lightblue;
  height: vh;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Image layouts, can be used for similar purpose */
#large-item {
  grid-column-start: 1;
  grid-column-end: 9;
}

#two-images-1{
  grid-column-start: 1;
  grid-column-end: 5;
}
#two-images-2{
  grid-column-start: 5;
  grid-column-end: 9;
}

#whole-width-image {
  grid-column-start: 1;
  grid-column-end: 9;
}

/* header layouts */

#page-header {
  grid-column-start: 1;
  grid-column-end: 9;
  text-align: left;
}


/* Item Grids - 2 columns per item */

#item-grid-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  transition: transform 0.3s ease-in-out;
}

#item-grid-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  transition: transform 0.3s ease-in-out;
}

#item-grid-3 {
  grid-column-start: 5;
  grid-column-end: 7;
  transition: transform 0.3s ease-in-out;
}

#item-grid-4 {
  grid-column-start: 7;
  grid-column-end: 9;
  transition: transform 0.3s ease-in-out;
}

/* Hover-ed effect on item-grids */
#item-grid-1:hover {
  transform: scale(0.98);
}

#item-grid-1:not(hover) {
  transform: scale(1);
}

#item-grid-2:hover {
  transform: scale(0.98);
}

#item-grid-2:not(hover) {
  transform: scale(1);
}

#item-grid-3:hover {
  transform: scale(0.98);
}

#item-grid-3:not(hover) {
  transform: scale(1);
}

#item-grid-4:hover {
  transform: scale(0.98);
}

#item-grid-4:not(hover) {
  transform: scale(1);
}


/* single grid columns */

.column-1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.column-2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.column-3 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.column-4 {
  grid-column-start: 4;
  grid-column-end: 5;
}

.column-5 {
  grid-column-start: 5;
  grid-column-end: 6;
}

.column-6 {
  grid-column-start: 6;
  grid-column-end: 7;
}

.column-7 {
  grid-column-start: 7;
  grid-column-end: 8;
}

.column-8 {
  grid-column-start: 8;
  grid-column-end: 9;
}



/* Navigation Bar*/

.navbar {
  overflow: hidden;
  display: flex;
  position: fixed;
  justify-content: space-between;
  background-color: #1F2731;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 24px;
  width: 100vw;
  z-index: 3;
  top:0;
}

.navlist > li > a {
  display: block;
  color: white;
  padding: 0;
  margin-right: 40px;
}

.navlist {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin-left: 40px;
}

.nav-pages {
  padding-right: 20px;
}

.nav-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-search {
  margin-right: 40px;
}


/* in-page-menu*/

.in-page-navbar{
  padding: 0;
  margin-bottom: 0;
}

#in-page-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: left;
  padding: 0;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 9;
  top:0;
  transition: top 0.3s ease-in-out;
}

nav#in-page-nav {
  padding-top: 16px;
  padding-bottom: 20px;
}

#in-page-nav > li > a {
  display: block;
  color: white;
  padding: 0;
  margin-right: 60px;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

#in-page-nav > ul {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  list-style-type: none;
}

.in-page-menu {
  margin-right: 60px;
}

.fixed-in-page-nav {
  position: fixed;
  top: 80;
  left: 0;
  width: 100%;
  z-index: 3;
}


/* subheader */

#subhead-container {
  padding:0;
  margin-top: 60px;
  margin-bottom: 12px;
}

.subhead {
  padding: 0;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 5;
}

.subhead > li {
  padding: 0;
  margin-right: 16px;
}

.subhead-arrow {
  width: 5px;
  height: 8px;
}

#subhead-container > ul {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
}




/* drinks page */
.section-1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.price-1{
  grid-column-start: 3;
  grid-column-end: 4;
}

.section-2 {
  grid-column-start: 5;
  grid-column-end: 8;
}

.price-2{
  grid-column-start: 8;
  grid-column-end: 9;
}


/*search page*/

#specialsearch{
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
}

#specialsearch {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  color: black;
  font-family: 'cresci', 'Times New Roman', serif;
  font-size: 40px;
}

.search {
  width: 300px;
  height: 40px;
  padding: 0px;
  /*border: 2px solid #333;*/
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  margin-left: 10px;
}

.search:focus {
  border-color: dodgerblue;
}


/* Footer */

#footer {
  background-color:#273853;
}

.search-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:#273853;
}

#footer-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

#footer-2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

#footer-3 {
  grid-column-start: 4;
  grid-column-end: 6;
}

#footer-4 {
  grid-column-start: 6;
  grid-column-end: 7;
}

#footer-5 {
  grid-column-start: 7;
  grid-column-end: 9;
}

.footer-copyright {
  margin: 0;
}



/* Text Layouts */
h2 {
  grid-column-start: 1;
  grid-column-end: 9;
}

.whole-width-text {
  grid-column-start: 1;
  grid-column-end: 9;
}

.page-intro {
  grid-column-start: 1;
  grid-column-end: 5;
}

hr {
  border: none;
  height: 1px;
  background-color: black;
  margin-bottom: 60px;
}

/* Colors of sections just for referencing purpose*/

body {
  background-color: #EFF5FF;
}

