/* This is a responsive css for when screen size is below 767px (possibly a phone) */

@media screen and (max-width: 767px) {


/* grid-system */
.grid-system{
    max-width: 335px;
    margin: 0 auto;
    padding: 0;
    height: auto;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(4, 1fr);
}


/***************************************************************************************************/
  /* fonts */
h1,
#page-header {
  font-size: 24px;
}

h2,
.in-page-menu {
  font-size: 20px;
}

h3,
.footer-header {
  font-size: 23px;
}

.nav-pages {
  font-size: 23px;
}

.food-name,
.drink-item dt,
.drink-price,
.nutri-name {
  font-size: 14px;
}

.subhead {
  font-size: 12px;
}

p,
.page-description,
.food-description,
#four-grid-text,
.drink-item dd,
.nutri-description {
  font-size: 12px;
}


.footer-gtu-description{
  font-size: 14px;
}

.drink-item dd.location {
  font-size: 24px;
}


.footer-copyright {
  font-size: 10px;
}

}


/***********************************************************************************************/


@media screen and (max-width: 390px) {
  #landing-top {
    margin: 0;
    padding: 0;
    scroll-snap-align: none; 
}

/* Dynamic Logo */

.dynamic-logo-container {
  display: flex;
  justify-content: center;
}

.specials-header {
    width: 1222px;
    height: 537px; 
}


/* section colour */

#landing-specials {
  background-color: #274C80;
}

#landing-socialmedia {
  background-color: #274C80;
} 


/* typography */
#four-grid-text {
  grid-column-start: 3;
  grid-column-end: 7;
  text-align: center;
}


/* Landing spacings */
.dynamic-logo {
    margin-top: 60px;
    margin-bottom: 12px;
}

#landing-header {
    margin-bottom: 12px;
    padding: 0;
    text-align: center;
}

#landing-specials {
    padding-bottom: 40px;
  }

#landing-philosophy {
    padding-top: 40px;
    padding-bottom: 40px;
}

#landing-recommendations {
    padding-top: 40px;
    padding-bottom: 40px;
}

#landing-socialmedia {
    padding-top: 40px;
    padding-bottom: 40px;
}

.social-media-image {
    margin-bottom: 40px;
}

#landing-map {
    padding-top: 40px;
    padding-bottom: 80px;
}

.map {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}
}