#payment{
    grid-column-start: 1;
    grid-column-end: 5;
}

.left-container{
    height: 5vh;
    max-width: 100%;
    display: flex;
    align-items: center; 
}

.show{
    margin-right: 50%;

}

#specialcon{
    height: 7vh;
    width: 40vw;
}
#payment{
    height: 70vh;
}