/* section layout */
.product-description {
    grid-column-start: 1;
    grid-column-end: 9;
}

/* sizes */
.return {
  max-width: 16px;
}

/* spacings */
#return-icon {
  padding: 0;
  margin-bottom: 20px;
}

#drinks-pairing {
  padding: 0;
  margin-bottom: 80px;
}

.product-content {
  padding-bottom: 40px;
  margin: 0 auto;
}