@font-face {
    font-family: 'givonic-semibold';
    src: url("fonts/givonic-semibold.ttf") format('truetype');
  }
label{
    font-family: "givonic-semibold", Arial, sans-serif;
    font-style: normal;
    padding: 0%;
}
.typingbar{
    max-width: 10vw;
    height: 3vw; 
    padding: 0;
    font-size: 28px;
    font-family: "givonic-semibold";
    border: 0;
    background-color: transparent;
    border-radius: 0;
    box-sizing: border-box;
}
.typingbar-container{
    margin-bottom: 40px;
    border-bottom: 1.5px solid black;
    
}
form{
    grid-column-start: 5;
    grid-column-end: 9;
    height: 60vh;
    font-size: 125%;
}
#continuebutton{
    padding: 12px 28px 12px 28px;
    margin: auto;
    margin-bottom: 20%;
    margin-top: 10%;
    background-color: #F8F8F8;
    font-family: "givonic-light";
    font-size: 24px;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
#changedgrid{
    height: 65vh;
}
.subhead{
    margin-top: 15%;
}
#wholecontainer{
    grid-column-start: 1;
    grid-column-end: 5;
}
.numberOfGuest{
    width: 100%;
    background-color: white;
    height: 10%;
    text-align: center;
    font-size: 20px;
    padding:10%;
    
}
.selectoroption{
    background-color: #F8F8F8;
    height: 6vh;
    display: flex;
    align-items:center ;

}
.selectoroption p{
    font-size: 20px;
    font-family: "givonic-semibold";
    margin-right:20%;
    margin-left: 5%;
    width: 100%;
}
.redate{
    width: 10vw;
    background-color: transparent;
    font-size: 20px
}
#longSelector{
    height: 13vh;
    margin-right:20%;
    width: 100%;
    background-color: #F8F8F8;
}
#longSelector p{
    font-family: "givonic-semibold";
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 50%;
    width: 120%;
    margin-left: 20%;
    margin-top: 10%;
}
#reserveTime{
    grid-column-start: 1;
    grid-column-end: 4;
}
.preferTime{
    margin-right: 10%;
    border-radius: 10%;
}

/*grid for 2 */
#time-grid-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    font-size: 110%;
}
  
#time-grid-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    font-size: 110%;
}
  
#time-grid-3 {
    grid-column-start: 5;
    grid-column-end: 7;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    font-size: 110%;
}
  
#time-grid-4 {
    grid-column-start: 7;
    grid-column-end: 9;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    font-size: 110%;
}

.check{
    margin-bottom: 10%;
}

#continuebutton{
    margin-left: 77%;
}

    