.search-bar-container{
  border-bottom: 1.5px solid black;
}

#searchbar{
  max-width: 100%;
  height: 50px; 
  padding: 0;
  font-size: 28px;
  font-family: "givonic-semibold";
  border: 0;
  background-color: transparent;
  border-radius: 0;
  box-sizing: border-box;
  grid-column-start: 2;
  grid-column-end: 9;
}

.search-bar:focus {
    outline: none; /* Remove the default focus outline if desired */
    /* Add additional styles for when the input is focused */
  }

/* spacing */
#searchbar {
  margin: 0;
}

.search-bar-container{
  padding-bottom: 4px;
  margin-bottom: 40px;
  border-bottom: 1.5px solid black;
}

/*/

#specialsearch{
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
}

#specialsearch {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  color: black;
  font-family: 'cresci', 'Times New Roman', serif;
  font-size: 40px;
}

.search {
  width: 300px;
  height: 40px;
  padding: 0px;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  margin-left: 10px;
}

.search:focus {
  border-color: dodgerblue;
}
*/
