.search-bar-container{
  border-bottom: 1.5px solid black;
}

#searchbar{
  max-width: 1068px;
  height: 50px; 
  padding: 0;
  font-size: 28px;
  font-family: "givonic-semibold";
  border: 0;
  background-color: transparent;
  border-radius: 0;
  box-sizing: border-box;
  grid-column-start: 2;
  grid-column-end: 9;
}

.search-bar:focus {
    outline: none; /* Remove the default focus outline if desired */
    /* Add additional styles for when the input is focused */
  }

/* spacing */
#searchbar {
  margin-left: 16px;
  margin-bottom: 0;
}

.search-bar-container{
  padding-bottom: 8px;
  margin-bottom: 40px;
  border-bottom: 1.5px solid black;
}
