/* generic food item spacings */
.food-image {
    padding: 0px;
    margin: 0px;
}

.food-name {
    text-align:center;
    margin-top: 12px;
    margin-bottom: 4px;
}

.food-description {
    text-align:center;
}


/* Drinks spacings */
#drinks-header {
    padding: 0;
    margin-bottom: 12px;
}

#in-page-nav {
    padding-top: 20px;
    padding-bottom: 44px;
}

#sparkling {
    padding-bottom: 60px;
}

#white {
    padding-bottom: 60px;
}

#cocktails {
    padding-bottom: 60px;
}

#soft {
    padding-bottom: 80px;
}

.drink-item {
    margin-bottom: 12px;
}

.drink-price {
    margin-bottom: 20px;
}


/* Abouts spacings */
.abouts-intro {
    padding-top: 20px;
    padding-bottom: 16px;
}

#about-our-story {
    padding-top: 20px;
    padding-bottom: 16px;
}

#about-our-food {
    padding-top: 20px;
    padding-bottom: 16px;
}

#about-reserve-button {
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}


/* Footer spacings */
#footer{
    padding-top: 60px;
    padding-bottom: 20px;
}

.footer-gtu-description {
    margin-bottom: 4px;
}

.footer-gtu-name {
    margin-bottom: 6px;
}

.footer-socials-icons {
    margin-right: 16px;
}

.footer-header {
    margin-bottom: 12px;
    padding: 0;
}

.footer-content {
    padding-bottom: 80px;
}

.footer-copyright {
    margin-top: 20px;
    padding-top: 20px;
}


/* Text spacings */
.subhead {
    padding:0;
    margin-top: 160px;
    margin-bottom: 12px;
}

br {
    height: 16px;
}

.whole-width-text {
    padding: 0;
    margin-top: 4px;
    margin-bottom: 8px;
}

.page-intro {
    padding: 0;
    margin-top: 12px;
}
